/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;

  --c-black: #181818;
  --c-black-soft: #222222;
  --c-black-mute: #282828;

  --c-blue-lightest: #ebfafe;
  --c-blue-light: #d1f2fd;
  --c-seaweed-100: #073742;

  --c-horizon-light: #fff2fc;
  --c-horizon-100: #ffdef7;
  --c-horizon-200: #ffbcf0;

  --c-divider-light-1: rgba(60, 60, 60, 0.29);
  --c-divider-light-2: rgba(60, 60, 60, 0.12);
  --c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --c-text-light-1: var(--c-black-soft);
  --c-text-light-2: rgba(60, 60, 60, 0.66);
  --c-text-dark-1: var(--c-white);
  --c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-blue-lightest);
  --color-background-soft: var(--c-white-soft);
  --color-background-mute: var(--c-white-mute);

  --color-border: var(--c-divider-light-2);
  --color-border-hover: var(--c-divider-light-1);

  --color-heading: var(--c-text-light-1);
  --color-text: var(--c-text-light-1);
  --color-placeholder: var(--c-divider-dark-1);

  --base-gap: 1em;
  --base-radius: 0.25em;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --color-background: var(--c-seaweed-100);
//     --color-background-soft: var(--c-black-soft);
//     --color-background-mute: var(--c-black-mute);

//     --color-border: var(--c-divider-dark-2);
//     --color-border-hover: var(--c-divider-dark-1);

//     --color-heading: var(--c-text-dark-1);
//     --color-text: var(--c-text-dark-2);
//   }
// }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b, strong {
  font-weight: 600;
}
